<div class="container-fluid text-white" style="background: #0f6235;">
    <div class="row align-items-center justify-content-end">
        <div class="col-1 text-center">
            Blazor SPA
        </div>
        <div class="col-11 ml-auto">
            <div id="example1" class="ml-auto">
                <h6 class="text-right" style="position: relative; top: -3px;">Copyright@Sorimachi.Co.Ltd</h6>
                <div class="row">
                    <div class="col-6">SORIMACHI</div>
                    <div class="col-6"><span class="float-right">JAOO SORIMACHI</span></div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div id="example2"> 
                            <p class="alignleft">JAOO &nbsp; SORI &nbsp; SORIMACHI</p>
                            <p class="aligncenter">R.02/01/01 ~ R.02/12/31</p>
                            <button class="alignright">Click</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>